/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/components/ui/select.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.select_container__GsN0T {  
  position: relative; 
  font-family: Arial; 
}

.select_input-box__6u8qg { 
  border: 1px solid #cccccc; 
  padding: 8px; 
  cursor: pointer; 
  min-height: 40px; 
  border-radius: .3rem; 
  min-width: 200px; 
}

.select_tags__wi8pg { 
  display: flex; 
  flex-wrap: wrap; 
  gap: 4px;
  padding: 1px 10px; 
}

.select_tag__W4joh { 
  background: #f0f0f3;
  border: 1px solid; 
  color: #080808dd; 
  padding: 1px 19px; 
  font-size: 12px; 
  display: flex; 
  gap: 4px; 
  border-radius: 10rem; 
}

.select_remove__VoChk { 
  cursor: pointer; 
}

.select_dropdown__t9C_8 {
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  background: white;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 4px;
  opacity: 0;
  transform: scaleY(0.95);
  transform-origin: top;
  transition: all 0.2s ease;
  border-radius: 4px;   
}

.select_dropdown__t9C_8.select_open__M6JH2 { 
  opacity: 1; 
  transform: scaleY(1);
  z-index: 1; 
}

.select_search__VUweN { 
  width: 100%; 
  padding: 6px; 
  border: 1px solid #ccc; 
}

.select_item__I1M1r { 
  padding: 6px; 
  cursor: pointer; 
}

.select_item__I1M1r:hover { 
  background: #4f46e5; 
  color: white; 
}

.select_selected__f3mGr { 
  background: #4f46e5; 
  color: white; 
}
